.nav-button{
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: white;

  a{
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-decoration: none;

    p{
      display: inline;
      padding-right: 15px;
    }
  }
}

.nav-button:hover{
  background-color: $primary-green;
}

.icon-nav-button{
  float: right;
}
