.social-button-pane {
  display: flex;
  flex-direction: row;
}

.icon-social-button {
  width: 50%;
  height: 50%;
  text-align: center;
  padding-top: 10px;
  color: white;
  text-decoration: none;
}

.icon-social-button:hover{
  color: $primary-green;
}